@import "tailwindcss";

@layer components {
  .btn-primary {
    @apply border border-blue-900 bg-[#3b3b6d] text-white transition-colors;
  }

  .btn-primary:hover {
    @apply bg-blue-900;
  }

  button {
    cursor: pointer;
  }
  .message {
    @apply text-gray-500 ml-2.5 mt-2.5;
  }

  .glow-title {
    animation: glowPulse 2.5s infinite ease-in-out;
  }

  .shine-title {
    background: linear-gradient(90deg, #ffffff 0%, #00ff91 50%, #ffffff 100%);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shineSlide 3s ease-in-out infinite;
  }
}