.btn-primary{
    border-color: navy;
    background-color: #3b3b6d;
}

.btn-primary:hover{
    border-color: navy;
    background-color: navy;
};

.message{
    color: gray;
    margin-left: 10px;
    margin-top: 10px;
}